@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Fontspring-DEMO-proximanovacond-bold.otf');
}
@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FuturaPTDemi.otf');
}
