.loyiha {
  margin-top: 120px;
  margin-bottom: 120px;

  &__title {
    padding-bottom: 40px;

    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
  &__btns {
    width: 674px;
    height: 55px;
    background: rgba(17, 19, 23, 0.5);
    border: 1px solid #4e4e4e;
    backdrop-filter: blur(2px);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 0 auto;
    &_btn {
      width: 25%;
      height: 99%;
      border: none;
      background: linear-gradient(
        93.5deg,
        #1e11ad 12.37%,
        rgba(105, 17, 173, 0.95) 85.28%
      );
      border-radius: 30px;
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;

      color: #ffffff;
    }
  }

  &__ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 64px;
    gap: 30px;
    &_list {
      width: 403px;
      position: relative;
      &--btn {
        z-index: 10;
        position: absolute;
        top: 15px;
        right: -5px;
        width: 121px;
        height: 37px;
        background: #ffffff;
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: "Proxima Nova";
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        border: 1px solid #fff;
      }
      &:hover &--div {
        transform: scale(1);
        opacity: 1;
      }
      &--div {
        position: absolute;
        z-index: 23;
        top: 4%;
        left: 4%;
        width: 403px;
        height: 332px;
        background: rgba(0, 0, 0, 0.87);
        border-radius: 5px;
        transition: 0.4s ease-in-out;
        transform: scale(0);
        opacity: 0;
        &-img {
          position: absolute;
          right: 0;
        }
        &-text {
          position: absolute;
          bottom: 30px;
          left: 30px;
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }
}
